@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 240 33% 99%;
    --foreground: 229 26% 28%;
    --muted: 240 12% 90%;
    --muted-foreground: 240 12% 30%;
    --popover: 240 33% 96%;
    --popover-foreground: 229 26% 18%;
    --card: 240 33% 97%;
    --card-foreground: 229 26% 23%;
    --border: 240 23% 94%;
    --input: 240 23% 91%;
    --primary: 223 42% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 223 30% 75%;
    --secondary-foreground: 223 30% 15%;
    --accent: 240 33% 84%;
    --accent-foreground: 240 33% 24%;
    --destructive: 10 88% 24%;
    --destructive-foreground: 10 88% 84%;
    --ring: 223 42% 57%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 33% 99%;
    --foreground: 229 26% 28%;
    --muted: 240 12% 90%;
    --muted-foreground: 240 12% 30%;
    --popover: 240 33% 96%;
    --popover-foreground: 229 26% 18%;
    --card: 240 33% 97%;
    --card-foreground: 229 26% 23%;
    --border: 240 23% 94%;
    --input: 240 23% 91%;
    --primary: 223 42% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 223 30% 75%;
    --secondary-foreground: 223 30% 15%;
    --accent: 240 33% 84%;
    --accent-foreground: 240 33% 24%;
    --destructive: 10 88% 24%;
    --destructive-foreground: 10 88% 84%;
    --ring: 223 42% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
